.assessment-info-icon {
	margin-left: 8px !important;
	border: 1px solid #2185d0;
	height: 1.5em !important;
	width: 1.5em !important;
	border-radius: 50%;
	color: #2185d0 !important;
	cursor: pointer;
}

.assessment-profile__competence-description-a {
	color: rgba(0,0,0,.4);
	cursor: pointer;
}

.assessment-profile__competence-description-container {
	margin-top: 20px;
}

.ui.modal>.content>.description {
	position: 'relative';
	line-height: 22px;
}

.assessment-profile__competence-description-header {
	border-radius: 4px;
    padding: 4px !important;
    text-align: center;
    margin-bottom: 8px !important;
    border: 1px solid #cccccc82 !important;
}

.assessment-profile__competence-description-header--positive {
	background-color: #E4fdd6;
	color: #fff !important;
}

.assessment-profile__competence-description-header--overdeveloped {
	background-color: #b6b6b6;
	color: #fff !important;
}

.assessment-profile__competence-description-header--negative {
	background-color: #Ee786c;
    color: #fff !important;;
}

